@keyframes slidy {
0% { left: 0%; }
13.333% { left: 0%; }
16.666% { left: -100%; }
30% { left: -100%; }
33.333% { left: -200%; }
46.666% { left: -200%; }
50% { left: -300%; }
63.333% { left: -300%; }
66.666% { left: -200%; }
80% { left: -200%; }
83.333% { left: -100%; }
96.666% { left: -100%; }
100% { left: 0%; }
}

body, html {
	background-color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

nav {
	position: fixed;
	top: 0;
	background-color: black;
	color: white;
	width: 100%;
	justify-content: space-around;
	z-index: 999;
	height: 10%;
}

nav li {
	display: inline-flex;
	list-style-type: none;
}

li a {
	text-decoration: none;
	color: white;
}
li a:hover {
	color: rgba(255,255,255,0.5);
}
li a:visited {
	color: white;
}

nav ul {
	display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}

h1 {
	font-size: 60px;
	background-color: rgba(0,0,0,0.5);
	
}



footer {
	text-align: center;
	background-color: black;
	color: white;
}

.parallax {
	background: url(img/parallax.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 80vh;
	overflow: hidden;
}

.holder {
	position: relative;
	width: 400%;
	height: 100%;
	overflow: hidden;
	animation: 40s slidy infinite;
	font-size: 0;
	margin: 0;
}

.box {
	width: 25%;
	height: 100%;
	display: inline-block;  
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: 100%;
}

fieldset {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#contact-form em {
    color: red;
}

#contact-form .item {
    position: relative;
    margin: 20px 20px;
}
#contact-form input, #contact-form textarea {
    padding: 10px 35px;
 	width: 80%;
    margin: auto;
    font-size: 20px;
    background: #ffffff;
    border: 2px solid black;
    box-sizing: border-box;
}

#contact-form label {
    opacity: 0.3;
    position: absolute;
    bottom: 2px;
    left: 5px;
    font-size: 20px;
    line-height: 30px;
}

#contact-form .send-button {
	background-color: green;
	border: none;
	color: white;
}

#contact-form textarea:focus + label {
	display: none;
}